.filter-navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.filter {
    width: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: rgb(112, 112, 112);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    overflow: visible;
    margin-left: 15px;
    max-width: 80px;
    max-height: 34px;
    border-width: 100px;
    border: 2px solid rgb(230, 228, 228);
    background: white;
    border-radius: 16px;
}

.login {
    width: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: rgb(112, 112, 112);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    overflow: visible;
    margin-left: 15px;
    max-width: 100px;
    max-height: 34px;
    border-width: 100px;
    border: 2px solid rgb(230, 228, 228);
    background: white;
    border-radius: 8px;
}

.register {
    width: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    overflow: visible;
    margin-left: 15px;
    max-width: 100px;
    max-height: 34px;
    border-width: 100px;
    border: 2px solid rgb(230, 228, 228);
    background: #4285f4;
    border-radius: 8px;
}

.ajuste {
    width: 34px;
    height: 34px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: rgb(112, 112, 112);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    overflow: visible;
    margin-left: 15px;
    border-width: 100px;
    border: 2px solid rgb(230, 228, 228);
    background: white;
    border-radius: 16px;
}

.ajustes{
    display: flex;
    gap: 10px;
    flex-direction: column;
}